<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserMapper">
  <resultMap id="BaseResultMap" type="pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_gender" jdbcType="VARCHAR" property="userGender" />
    <result column="user_words" jdbcType="VARCHAR" property="userWords" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_fansNum" jdbcType="INTEGER" property="userFansnum" />
    <result column="user_registDate" jdbcType="DATE" property="userRegistdate" />
    <result column="user_headPortrait" jdbcType="VARCHAR" property="userHeadportrait" />
    <result column="user_collectionsNum" jdbcType="INTEGER" property="userCollectionsnum" />
    <result column="user_focusNum" jdbcType="INTEGER" property="userFocusnum" />
    <result column="user_textsNum" jdbcType="INTEGER" property="userTextsnum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, user_name, user_password, user_gender, user_words, user_email, user_fansNum, 
    user_registDate, user_headPortrait, user_collectionsNum, user_focusNum, user_textsNum
  </sql>
  <select id="selectByExample" parameterType="pojo.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.User">
    insert into user (user_id, user_name, user_password, 
      user_gender, user_words, user_email, 
      user_fansNum, user_registDate, user_headPortrait, 
      user_collectionsNum, user_focusNum, user_textsNum
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userGender,jdbcType=VARCHAR}, #{userWords,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, 
      #{userFansnum,jdbcType=INTEGER}, #{userRegistdate,jdbcType=DATE}, #{userHeadportrait,jdbcType=VARCHAR}, 
      #{userCollectionsnum,jdbcType=INTEGER}, #{userFocusnum,jdbcType=INTEGER}, #{userTextsnum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userGender != null">
        user_gender,
      </if>
      <if test="userWords != null">
        user_words,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userFansnum != null">
        user_fansNum,
      </if>
      <if test="userRegistdate != null">
        user_registDate,
      </if>
      <if test="userHeadportrait != null">
        user_headPortrait,
      </if>
      <if test="userCollectionsnum != null">
        user_collectionsNum,
      </if>
      <if test="userFocusnum != null">
        user_focusNum,
      </if>
      <if test="userTextsnum != null">
        user_textsNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        #{userGender,jdbcType=VARCHAR},
      </if>
      <if test="userWords != null">
        #{userWords,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userFansnum != null">
        #{userFansnum,jdbcType=INTEGER},
      </if>
      <if test="userRegistdate != null">
        #{userRegistdate,jdbcType=DATE},
      </if>
      <if test="userHeadportrait != null">
        #{userHeadportrait,jdbcType=VARCHAR},
      </if>
      <if test="userCollectionsnum != null">
        #{userCollectionsnum,jdbcType=INTEGER},
      </if>
      <if test="userFocusnum != null">
        #{userFocusnum,jdbcType=INTEGER},
      </if>
      <if test="userTextsnum != null">
        #{userTextsnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null">
        user_password = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userGender != null">
        user_gender = #{record.userGender,jdbcType=VARCHAR},
      </if>
      <if test="record.userWords != null">
        user_words = #{record.userWords,jdbcType=VARCHAR},
      </if>
      <if test="record.userEmail != null">
        user_email = #{record.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.userFansnum != null">
        user_fansNum = #{record.userFansnum,jdbcType=INTEGER},
      </if>
      <if test="record.userRegistdate != null">
        user_registDate = #{record.userRegistdate,jdbcType=DATE},
      </if>
      <if test="record.userHeadportrait != null">
        user_headPortrait = #{record.userHeadportrait,jdbcType=VARCHAR},
      </if>
      <if test="record.userCollectionsnum != null">
        user_collectionsNum = #{record.userCollectionsnum,jdbcType=INTEGER},
      </if>
      <if test="record.userFocusnum != null">
        user_focusNum = #{record.userFocusnum,jdbcType=INTEGER},
      </if>
      <if test="record.userTextsnum != null">
        user_textsNum = #{record.userTextsnum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_password = #{record.userPassword,jdbcType=VARCHAR},
      user_gender = #{record.userGender,jdbcType=VARCHAR},
      user_words = #{record.userWords,jdbcType=VARCHAR},
      user_email = #{record.userEmail,jdbcType=VARCHAR},
      user_fansNum = #{record.userFansnum,jdbcType=INTEGER},
      user_registDate = #{record.userRegistdate,jdbcType=DATE},
      user_headPortrait = #{record.userHeadportrait,jdbcType=VARCHAR},
      user_collectionsNum = #{record.userCollectionsnum,jdbcType=INTEGER},
      user_focusNum = #{record.userFocusnum,jdbcType=INTEGER},
      user_textsNum = #{record.userTextsnum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.User">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        user_gender = #{userGender,jdbcType=VARCHAR},
      </if>
      <if test="userWords != null">
        user_words = #{userWords,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userFansnum != null">
        user_fansNum = #{userFansnum,jdbcType=INTEGER},
      </if>
      <if test="userRegistdate != null">
        user_registDate = #{userRegistdate,jdbcType=DATE},
      </if>
      <if test="userHeadportrait != null">
        user_headPortrait = #{userHeadportrait,jdbcType=VARCHAR},
      </if>
      <if test="userCollectionsnum != null">
        user_collectionsNum = #{userCollectionsnum,jdbcType=INTEGER},
      </if>
      <if test="userFocusnum != null">
        user_focusNum = #{userFocusnum,jdbcType=INTEGER},
      </if>
      <if test="userTextsnum != null">
        user_textsNum = #{userTextsnum,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelectiveCountAdd" parameterType="pojo.User">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        user_gender = #{userGender,jdbcType=VARCHAR},
      </if>
      <if test="userWords != null">
        user_words = #{userWords,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userFansnum != null">
        user_fansNum =user_fansNum+ #{userFansnum,jdbcType=INTEGER},
      </if>
      <if test="userRegistdate != null">
        user_registDate = #{userRegistdate,jdbcType=DATE},
      </if>
      <if test="userHeadportrait != null">
        user_headPortrait = #{userHeadportrait,jdbcType=VARCHAR},
      </if>
      <if test="userCollectionsnum != null">
        user_collectionsNum =user_collectionsNum+ #{userCollectionsnum,jdbcType=INTEGER},
      </if>
      <if test="userFocusnum != null">
        user_focusNum =user_focusNum+ #{userFocusnum,jdbcType=INTEGER},
      </if>
      <if test="userTextsnum != null">
        user_textsNum =user_textsNum+ #{userTextsnum,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="pojo.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_gender = #{userGender,jdbcType=VARCHAR},
      user_words = #{userWords,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_fansNum = #{userFansnum,jdbcType=INTEGER},
      user_registDate = #{userRegistdate,jdbcType=DATE},
      user_headPortrait = #{userHeadportrait,jdbcType=VARCHAR},
      user_collectionsNum = #{userCollectionsnum,jdbcType=INTEGER},
      user_focusNum = #{userFocusnum,jdbcType=INTEGER},
      user_textsNum = #{userTextsnum,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>